#mvv {
    display: flex;
    justify-content: center;
    background-color:  #243665;
    height: 580px;
}

div.cards {
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 1100px;
    background-color: rgba(61, 61, 61, 0);
    max-height: 450px;
}

div.cards img {
    width: 60px;
    height: 60px;
    margin-top: 7%;
}

div.cards .card-missao {
    background-color:  #8bd8bd;
    padding: 23px;
    margin-right: 40px;
    margin-top: -75px;
    border-radius: 10px;
}

div.cards .card-missao .missao-titulo {
    font-size: 27px;
    font-weight: 500;
}

div.cards .card-missao .missao-texto {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

div.cards .card-missao:hover {
    transform: scale(1.05);
    background-color:  #afebd6 ;
}

div.cards .card-visao {
    background-color:   #8bd8bd ;
    padding: 23px;
    margin-top: -75px;
    border-radius: 10px;
}

div.cards .card-visao .visao-titulo {
    font-size: 27px;
    font-weight: 500;
}

div.cards .card-visao .visao-texto {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

div.cards .card-visao:hover {
    transform: scale(1.05);
    background-color: #afebd6 ;
}

div.cards .card-valores {
    background-color:   #8bd8bd;
    margin-left: 40px;
    padding: 23px;
    margin-top: -75px;
    border-radius: 10px;
}

div.cards .card-valores:hover {
    transform: scale(1.05);
    background-color: #afebd6;
}

div.cards .card-valores .valores-titulo {
    font-size: 27px;
    font-weight: 500;
    
}

div.cards .card-valores .valores-texto {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

 img.borda1 {
     width: 100%;
     margin-top: -110px;
     
 }

 img.borda2 {
    width: 100%;
   margin-bottom: -390px;
    
}

img.borda3 {
    width: 100%;
    margin-top: -95px;
}

