#quem-somos {
    background-color: #fdf6f6;
}

div.container-quemsomos {
    align-items: center;
    text-align: center;
    height: 450px;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    background-color: #fdf6f6;
}

div.container-quemsomos .titulo {
    margin-top: 7%;
    border-color: rgb(17, 17, 17);
    border: solid 3px;
    border-radius: 100px;
    width: 320px;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div.container-quemsomos .titulo h2 { 
    font-family: 'Open Sans', sans-serif;   
    font-size: 23px;
    color: rgb(17, 17, 17);
    font-weight: 600;
}

div.container-quemsomos .titulo:hover {
   transform: scale(1.05);
}

div.container-quemsomos p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color:#616060;
    line-height: 23px;
    margin-top: 4%;
}