#sobre-servicos {
    background-color: #f2f5fa;
}

div.container-sobreservicos {
    align-items: center;
    text-align: center;
    height: 320px;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    background-color: #f2f5fa;
}

div.container-sobreservicos .titulo-servicos {
    margin-top: 7%;
    border-color: rgb(17, 17, 17);
    border: solid 3px;
    border-radius: 100px;
    width: 450px;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10%;
}

div.container-sobreservicos .titulo-servicos h2 { 
    font-family: 'Open Sans', sans-serif;   
    font-size: 23px;
    color: rgb(17, 17, 17);
    font-weight: 600;
}

div.container-sobreservicos .titulo-servicos:hover {
   transform: scale(1.05);
}

div.container-sobreservicos p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color:#616060;
    line-height: 23px;
    margin-top: 7%;
}

img.bordaS1 {
    width: 100%;
}